.cache
.bash_history
.bash_logout
.profile
.sudo_as_admin_successful
.viminfo
.vim
*.*.swp
.scripts
.lesshst
.wget-hsts
.ssh/config
.ssh/known_hosts
.ssh_auth_sock
workspace
cscope.files
cscope.out
tags
